:root{
  --clr-bg-100:  #4c87cba1;
  --clr-bg-200:  #1F2937;
  --clr-bg-300: #fff;
  --ff-primary: montserrat, sans-serif;
  --ff-color-primary: #fff;
  --ff-color-secondary: #2a2a2a; 
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.3125rem;
  margin:0;
}

h1{
  font-size: 48px;
  margin: 0;
}

h2{
  font-size: 26px;
}

h4{
  font-size: 18px;
  margin-bottom: 40px;
}

a{
  color:white;
}

header{
  top: 0;
  width:100%;
  position:fixed;
  background-color: var(--clr-bg-300);
}


.trinity-logo-container{
  margin-right: -40px;
}


.header-container{
  margin-inline: auto;
  width:  min(100%, 100rem);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.header-link{
  color:var(--ff-color-secondary);
  text-decoration: none;
  margin: 15px;
}


.header-link:hover{
  color: #3b7eca;
}

.trinity-logo{
  width:80%;
  align-items: center;
}

.trinity-logo:hover{
  opacity: 0.65;
  transition-duration: 0.5s;
}

.welcome{
  margin-top: 5rem;
  background-image: url("images/Website+steeple+a.jpg");
  background-size: cover;
  background-position: 50% 25%;
}

.welcome-container{
  text-align: center;
  margin-inline: auto;
  width:  min(95%, 80.5rem);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.7rem;
  padding: 100px 0px;
}

.trinity-container{
  padding: 1rem;
  border-radius: 3%;
  align-items: center;
  background-color: var(--clr-bg-100);
  color: var(--ff-color-primary);
  padding: 2em;
}

.bulletin-link:hover, .youtube-link:hover, .facebook-link:hover{
  color: #cae3ff;
}

.slideshow{
  width:  min(90%, 28rem);
  height: 27.5rem;
  border-radius: 3%;
}

.button{
  padding: 17px;
  background-color: #0b7dd1;
  border:  #0b7dd1;
  border-radius: 5%;
  text-decoration: none;
  color:white;
}

.button:hover{
   background-color: #378ed9; 
}

footer{
  padding: 50px; 
  font-size: 14px; 
  letter-spacing: 2px;
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-direction:row;
  background: var(--clr-bg-200);
  color: var(--ff-color-primary);
}

